# Predicting the Car Prices by using Linear Regression

Created API of car price prediction as well, link to github: https://github.com/Lovepreet12a/Car_Price_Predictor.github.io

Following are points covered in this project:
    
        - Data Analyzed 
        - Data Cleaned 
        - Data explored
        - Use of OneHotEncoder 
        - Model building
        - Finding of best random state 
        - Improving the accuracy of the model\

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Car_prediction.csv")

In [3]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
df.shape

(892, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
df.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [7]:
#Data Cleaning

In [8]:
# Checking for the year column
df.year.unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

As we can see that the year column has so many non-numeric values.

In [9]:
df = df[df.year.str.isnumeric()]

In [10]:
df.year.dtypes

dtype('O')

Need to convert object data type of year into integer

In [11]:
df["year"] = df.year.astype("int64")

In [12]:
df.year.dtypes

dtype('int64')

In [13]:
# Checking for the price column

In [14]:
df.Price.unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

As we can see that there is one value called "Ask For Price" in price column, so need to remove it.

In [15]:
df = df[df.Price != "Ask For Price"]

In [16]:
df.Price.dtypes

dtype('O')

In [17]:
# Now, need to remove commas and change the data type

In [18]:
df["Price"] = df.Price.str.replace(",", "").astype(int)

In [19]:
df.Price

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [20]:
# Need to work on the column kms_driven
df.kms_driven

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [21]:
df.kms_driven.unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

Need to remove commas and kms from the kms_driven column

In [22]:
df["kms_driven"] = df.kms_driven.str.replace(",", "")

In [23]:
df.kms_driven

0       45000 kms
1          40 kms
3       28000 kms
4       36000 kms
6       41000 kms
          ...
886    132000 kms
888     27000 kms
889     40000 kms
890        Petrol
891        Petrol
Name: kms_driven, Length: 819, dtype: object

In [24]:
df["kms_driven"] = df.kms_driven.str.split(" ").str.get(0)

In [25]:
# Now we will be keeping only the numeric values in the column "kms_driven"

df = df[df.kms_driven.str.isnumeric()]

In [26]:
# changing the data types of kms_driven to interegr

df["kms_driven"] = df["kms_driven"].astype(int)

In [27]:
df.kms_driven.dtypes

dtype('int32')

In [28]:
# Checking on the column fuel_type

df.fuel_type.unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

As we can see that there are some nan values in fuel_type column.

In [29]:
df.fuel_type.value_counts(dropna = False)

Petrol    428
Diesel    386
LPG         2
NaN         1
Name: fuel_type, dtype: int64

In [30]:
# Going to remove this NaN value 

df = df[~df.fuel_type.isnull()]

In [31]:
df.fuel_type.unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

As we see that fuel_type column has no null values anymore.

In [32]:
# Now, checking with the name column

In [33]:
df.name

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

As we can see that there are quite long names are mentioned so going to pick first 3 words to the name.

In [34]:
df["name"] = df.name.str.split(" ").str.slice(0, 3).str.join(" ")

In [35]:
df = df.reset_index(drop = True)

In [36]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [37]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

As we can see here that 75% of the cars come under the price 5 hundred thousand INR but maximum is showing under 8.5 hundred thousand INR, so we need to see if there is any outlier or not.

In [38]:
# we are checking that how many cars we have above the price of 6 hundred thousands INR.

df[df.Price > 6e6]

                   name   company  year    Price  kms_driven fuel_type
534  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

So, here we can see that this is an only car above 6 hundred thousand INR or rather this is an outlier..

In [39]:
# Need to remove this outlier

df = df[df.Price < 6e6]

In [40]:
df = df.reset_index(drop = True)

In [41]:
df.to_csv("Cleaned_car_data")

In [42]:
# Making the Machine Learning model

In [43]:
df.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [44]:
X = df[['name', 'company', 'year', 'kms_driven', 'fuel_type']]
y = df[["Price"]]

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [47]:
from sklearn.preprocessing import OneHotEncoder

In [48]:
One = OneHotEncoder()

In [49]:
One.fit(X[["name", "company", "fuel_type"]])

OneHotEncoder()

In [50]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [51]:
column_trans = make_column_transformer((OneHotEncoder(categories = One.categories_), ["name", "company", "fuel_type"]), 
                                      remainder = "passthrough")

In [52]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [53]:
pipe = make_pipeline(column_trans, lr)

In [54]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [55]:
# Finding predictions
y_predict = pipe.predict(X_test)
y_predict

array([[ 242278.46494771],
       [ 281381.15743522],
       [ 188082.93996611],
       [ 301602.70792273],
       [1478593.58193655],
       [ 334348.9594737 ],
       [ 222475.55222018],
       [ 509371.20628317],
       [  66242.71995426],
       [ 115536.97749334],
       [ 434392.37713209],
       [ 225128.17404114],
       [ 239451.29342207],
       [ 401874.20734149],
       [ 106745.01426569],
       [ 403524.94005951],
       [ 150307.64063273],
       [ 768170.67642561],
       [  76512.62918875],
       [ 263142.47371422],
       [ 403218.78407267],
       [ 314300.04708116],
       [ 544251.69151879],
       [  24943.20933362],
       [ 282570.85500082],
       [ 282766.19840299],
       [ 233809.57171794],
       [ 457051.12346502],
       [ 617915.49576996],
       [ 415251.37011954],
       [ 172198.77108075],
       [ 522504.49995596],
       [ 461405.88051365],
       [ 330352.11278456],
       [ 108207.10776451],
       [ 436821.76181563],
       [ 238658.78573877],
       [ -42824.00137624],
       [ 176059.15731371],
       [ 253289.53210387],
       [ 373230.86966484],
       [ 218961.19443709],
       [ 514526.26526935],
       [ 310098.16009541],
       [ 140892.54686986],
       [ 579802.06068648],
       [ 459622.1010421 ],
       [ 218958.96375415],
       [ 424942.31233848],
       [ 330559.36129796],
       [ 321032.07083768],
       [ 593852.59463015],
       [ 579317.53612397],
       [ 541194.21361542],
       [ 407956.96280988],
       [ 369759.57441594],
       [  63641.40892246],
       [ 211500.49328233],
       [  99941.92333108],
       [ 443476.82162836],
       [ 141611.07575238],
       [ 281873.9252288 ],
       [ 905905.30207804],
       [ 176951.87809281],
       [ 644567.62151841],
       [ 286411.42816971],
       [ 193856.75880086],
       [ 353170.73836393],
       [ 605405.45900258],
       [ 625707.97659445],
       [ 291198.46098829],
       [ 230215.18474866],
       [ 104345.9500414 ],
       [ 842359.11854962],
       [ 378355.68588175],
       [ 332942.01708525],
       [ 368829.04082368],
       [ 158652.29799432],
       [ 307699.84298271],
       [ 124815.21289364],
       [ 333837.6788452 ],
       [ 147841.49698562],
       [ 227852.6233196 ],
       [  26199.82738728],
       [ 262495.56714896],
       [ 350311.12546083],
       [ 579021.32165907],
       [ 168059.89824284],
       [ 542294.12266425],
       [ 213347.80476474],
       [ 410759.27149581],
       [ 334041.66496737],
       [ 219454.89743941],
       [ 481744.47127078],
       [ 698627.01124785],
       [ 172239.20137209],
       [ 332926.32349963],
       [ 524408.10513833],
       [ 164981.35940402],
       [ 230215.18474866],
       [ 345391.21886726],
       [ 487368.89213357],
       [ 487356.28683104],
       [ 226384.88257718],
       [ 621896.53620802],
       [ 181415.34547916],
       [ 223630.10657363],
       [  22474.49357744],
       [ 356064.47520586],
       [1259396.11840529],
       [ 245171.40663899],
       [ 656360.97093073],
       [ 819220.82904518],
       [ -93760.23553631],
       [ 495169.48800851],
       [ 207192.38206043],
       [1746745.86962897],
       [1005731.39490044],
       [ 377694.054851  ],
       [ 490269.54215613],
       [ 400541.96455009],
       [ 514278.5686532 ],
       [ 430873.27398766],
       [ 160629.89040723],
       [   8381.07359943],
       [ 221434.56685029],
       [ 596801.90145732],
       [ 321775.63181618],
       [ 736343.4143414 ],
       [ 238031.88229426],
       [1436122.11143638],
       [ 245005.89095686],
       [ 123296.86137555],
       [ 210114.48618706],
       [ 590531.66548545],
       [ 538911.91458274],
       [ 429194.30042911],
       [ 401211.16943073],
       [  47838.70468181],
       [ 549895.72504906],
       [ 750122.64418381],
       [   6522.24451806],
       [ 106447.5898743 ],
       [ 258774.04682946],
       [ 142894.29101239],
       [ 554211.11720579],
       [ 203159.27551384],
       [ 484327.55810492],
       [ 401213.294273  ],
       [ 524913.36031198],
       [ 148961.61160125],
       [ 251736.51461939],
       [ 450031.7544864 ],
       [ 551773.29374852],
       [ 221208.00295272],
       [ 354422.35909786],
       [ 935369.15637562],
       [ 304130.90786958],
       [ 199938.53125206],
       [ 826736.37131376],
       [ 293753.49597345],
       [ 332480.18691253],
       [ 630708.52681071]])

In [56]:
from sklearn.metrics import r2_score

In [57]:
score = r2_score(y_test, y_predict)
score

0.7101477080500824

In [58]:
# Finding the best random state to improve the score 

scores = []
for i in range(1000):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(X_train, y_train)
    y_predict = pipe.predict(X_test)
    scores.append(r2_score(y_test, y_predict))

In [59]:
# This is the random score which we can use to have the good accuracy.  
np.argmax(scores)

661

In [60]:
scores[np.argmax(scores)]

0.8897680821375169

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state = np.argmax(scores))
lr = LinearRegression()
pipe = make_pipeline(column_trans, lr)
pipe.fit(X_train, y_train)
y_predict = pipe.predict(X_test)
r2_score(y_test, y_predict)

0.8897680821375169

In [62]:
import pickle

In [63]:
pickle.dump(pipe, open("LinearRegressionModel.pkl", "wb"))

## Summary 

       - This model's accuracy is around 89%. 
       - 80% of the data is trained to test on 20% of the data. 
       - The model is able to predict the price of the cars.